<main>
  <h1>{{ title }}</h1>
  <p class="contador">Pendientes: {{ storage.pendientes() }}</p>

  <div class="nueva-tarea">
    <input
      type="text"
      #inputTarea
      placeholder="Nueva Tarea"
      (keyup.enter)="storage.agregar(inputTarea.value); inputTarea.value = ''"
    />

    <button (click)="storage.agregar(inputTarea.value); inputTarea.value = ''">Agregar</button>
  </div>

  <ul>
    @for (tarea of storage.tareas(); track tarea.id) {
      <li (click)="storage.toggle(tarea.id)" [class.hecha]="tarea.completada">
        {{ tarea.titulo }}
        @if (tarea.completada) {
          <span>✅</span>
        }
        <button class="eliminar" (click)="storage.eliminar(tarea.id); $event.stopPropagation()">
          🗑️
        </button>
      </li>
    } @empty {
      <li>No hay tareas. Agrega una!!</li>
    }
  </ul>

  <button
    (click)="storage.limpiarCompletadas()"
    class="limpiarCompletadas"
    [disabled]="!storage.hayCompletadas()"
  >
    Limpiar Completadas
  </button>
</main>

<router-outlet />
