<main>
  <h1>{{ title }}</h1>
  <p class="contador">Pendientes: {{ storage.pendientes() }}</p>

  <div class="nueva-tarea">
    <app-task-form (agregado)="storage.agregar($event)" />
  </div>

  <button (click)="storage.cargarEjemplo()" class="cargar">Cargar ejemplos de la Api</button>

  @if (storage.cargando()) {
    <p class="estado">Cargando tareas...</p>
  }

  @if (storage.error()) {
    <p class="estado error">Error: {{ storage.error() }}</p>
  }

  <ul>
    @for (tarea of storage.tareas(); track tarea.id) {
      <app-task-item
        [task]="tarea"
        (toogle)="storage.toggle($event)"
        (removed)="storage.eliminar($event)"
      />
    } @empty {
      <li>No hay tareas. Agrega una!!</li>
    }
  </ul>

  <button
    (click)="storage.limpiarCompletadas()"
    class="limpiarCompletadas"
    [disabled]="!storage.hayCompletadas()"
  >
    Limpiar Completadas
  </button>
</main>

<router-outlet />
